@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #141414;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.careers-bg {
  background: radial-gradient(50% 50% at 0% 20%, #7571e643 0%, #413f8000 100%), radial-gradient(50% 50% at 100% 20%, #7571e643 0%, #413f8000 100%);
}

.about-us-bg {
  background: radial-gradient(50% 50% at 0% 50%, #7571e650 0%, #413f8000 100%);
}

.our-core-values-bg {
  background: radial-gradient(70% 70% at 100% 50%, #7571e65f 0%, #413f8000 100%);
}

.co-founder-bg {
  background: radial-gradient(50% 50% at 80% 60%, #7571e64f 0%, #413f8000 100%);
}

.our-team-bg {
  background: radial-gradient(50% 50% at 0% 10%, #7571e679 0%, #413f8000 100%);
}

.services-bg {
  background: radial-gradient(80% 80% at 10% 50%, #7571e63f 0%, #413f8010 100%);
}

.our-solution-bg {
  background: radial-gradient(20% 50% at 100% 60%, #7571e65c 0%, #413f8010 100%);
  z-index: 0;
}

.style-guide-bg {
  background: radial-gradient(50% 50% at 0% 10%, #7571e65c 0%, #413f8010 100%), #ffffff02;
  z-index: 0;
}

.project-logo-bg {
  background-image: linear-gradient(to bottom, #00489D 0%, #245B9C 34%, #0B1D5B 62%, #B32916 83%, #B36B16 94%);
}

.project-logo-bg {
  background-image: linear-gradient(to bottom, #00489D 0%, #245B9C 34%, #0B1D5B 62%, #B32916 83%, #B36B16 94%);
}

.gradient-border {
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #0DBEFB, #9DC6F2, #74A2D1) 1;
}

/* 
.iphone-case {
  --border-radius-outer: 2rem;
  --outer-padding: 0.5rem;
  --case-color: #000000;
  --border-radius-inner: calc(var(--border-radius-outer) - var(--outer-padding));
  box-shadow: 0px 0px 0px 2px #ffffff43;
  background-color: var(--case-color);
  border-radius: var(--border-radius-outer);
  padding: var(--outer-padding);
  aspect-ratio: 1/2;
  position: relative;
  margin-inline: auto;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden !important;
}

.iphone-case::-webkit-scrollbar {
  width: 12px;
}

.iphone-case::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.iphone-case::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.iphone-case::-webkit-scrollbar-thumb:hover {
  background: #555;
} */


.flip-box {
  background-color: transparent;
  width: 280px;
  height: 230px
    /* 	border: 1px solid black; */
    /* perspective: 1000px; */
    /* Remove this if you don't want the 3D effect */
    /* cursor: pointer; */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-box-back {
  background-color: #7471E6;
  transform: rotateY(180deg);
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .flip-box-inner {
    padding-top: 100%;
  }

  .flip-box {
    width: 90vw;
  }
}

.scissor-effect {
  background: url("../assets/images/bulb.webp");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 700ms;
}

.scissor-effect>div {
  transition: all 700ms;
}

.scissor-effect:hover {
  transform: rotate(-15deg);
  transform-origin: bottom;
  transition: all 700ms;

}

.scissor-effect:hover>div {
  transform: rotate(20deg);
  transform-origin: left;
  transition: all 700ms;
}