@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #141414;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.careers-bg {
  background: radial-gradient(50% 50% at 0% 20%, #7571e643 0%, #413f8000 100%), radial-gradient(50% 50% at 100% 20%, #7571e643 0%, #413f8000 100%);
}

.about-us-bg {
  background: radial-gradient(50% 50% at 0% 50%, #7571e650 0%, #413f8000 100%);
}

.our-core-values-bg {
  background: radial-gradient(70% 70% at 100% 50%, #7571e65f 0%, #413f8000 100%);
}

.co-founder-bg {
  background: radial-gradient(50% 50% at 80% 60%, #7571e64f 0%, #413f8000 100%);
}

.our-team-bg {
  background: radial-gradient(50% 50% at 0% 10%, #7571e679 0%, #413f8000 100%);
}

.services-bg {
  background: radial-gradient(80% 80% at 10% 50%, #7571e63f 0%, #413f8010 100%);
}

.our-solution-bg {
  background: radial-gradient(20% 50% at 100% 60%, #7571e65c 0%, #413f8010 100%);
  z-index: 0;
}

.project-logo-bg {
  background-image: linear-gradient(to bottom, #00489D 0%, #245B9C 34%, #0B1D5B 62%, #B32916 83%, #B36B16 94%);
}

.iphone-case {
  --border-radius-outer: 2rem;
  --outer-padding: 0.5rem;
  --case-color: #000000;
  --border-radius-inner: calc(var(--border-radius-outer) - var(--outer-padding));
  box-shadow: 0px 0px 0px 2px #ffffff43;
  background-color: var(--case-color);
  border-radius: var(--border-radius-outer);
  padding: var(--outer-padding);
  aspect-ratio: 1/2;
  position: relative;
  margin-inline: auto;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden !important;
}

/* Styles for the iframe content */
.iphone-case::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
}

.iphone-case::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track color */
}

.iphone-case::-webkit-scrollbar-thumb {
  background: #888;
  /* Thumb color */
  border-radius: 10px;
  /* Rounded corners */
}

.iphone-case::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Thumb color when hovered */
}